.nav {
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 10px;
    box-sizing: border-box;
    text-align: right;
}

.logo {
    text-align: left;
    margin: 10px 50px;

}

header {
   
    align-items: center;
    padding: 20px 40px;
    background: white;
}

.nov {
    text-decoration: none;
    text-decoration-line: none;
    text-align: right;
    color: black;
    margin: 1%;
    padding: 0%;

    justify-content: end;
    text-align: initial;
}

#nov {
    text-decoration: none;
    color: black;
    text-align: end;

}