/* селектор { */
    /* свойство: значение; */
    /* свойство: значение; */
    /* свойство: значение; */
    /* свойство: значение; */

h1, h2, h3 {
    text-align: center;

}

.First {
    color: blue;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    text-decoration: line-through;
    text-transform: 
}

#second {
color: rgb(121, 155, 0);
}

.marked {

color: chartreuse;


}
.salam {
    margin-left: 230px;
    flex: auto;
}

.box{
    width: 300px;
    height: 300px;
    background: darkgrey;
    padding: 20px 40px; 
margin: 40px 20px;
}